<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gest„o de Materiais</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> InÌcio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="materiais">
                <span class="bi bi-book-fill" aria-hidden="true"></span> Materiais Did·ticos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="emprestimos">
                <span class="bi bi-person-fill-check" aria-hidden="true"></span> Realizar EmprÈstimo
            </NavLink>
        </div>
    </nav>
</div>
